<% if logged_in? %>
<div class = "comment_form">
  <%= object.label :comment, "コメント" %>
  <%= object.text_field :content, class: 'form-control' %>
  <%= object.submit "アップロード", class: "btn btn-primary" %>
  <% end %>
</div>
