<% if logged_in? %>
<div class = "comment_form">
  <%= object.text_field :content, class: 'col-md-9 input-lg' %>
  <%= object.submit "投稿", class: "col-md-3 btn btn-lg btn-primary", data: { confirm: "コメントを投稿しますか？"} %>
  <% end %>
</div>
