<div class= "comments">
  <div class= "box">
    <p>comment start</p>
    <p><%= object.content %></p>
    <p><%= object.user.user_name %></p>
    <p>投稿日：<%= object.created_at %></p>
    <p>comment end</p>
  </div>
</div>


