<% provide(:title, "Index") %>
<% if logged_in? %>
  <h1>最新の曲</h1>
  <%= render 'shared/music_show' %>
<% else %>
  <div class= "center jumbotron">
    <h1>Welcome to God Music Uploader</h1>
    <h2>今すぐ登録！！！！！！</h2>
    <%= link_to "登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<% end %>
