<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>アップロードさせる</p>
<p>曲名を選ばせる</p>
<p>アップロード者の個人ページみたいなのを作る（自動作成？多分基本ページがあって情報を取得して出すみたいなことになる）</p>
<p>soundcloudへの自動アップロード（申請するのだるいな）（後回し）</p>
<p>コメント欄やいいねもあるといいですね</p><br>

<audio  src="2.wav" controls></audio>

<p>hoge</p>

<%= link_to 'upload', controller: 'musics' %>
